.task{
    color: #fff;
    background-color: #EF476F;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5vh;
    width: 70rem;
    padding: 5px;
    margin-bottom: 10px;
    
}

.task-text{
    text-align: left;
}

.done{
    text-decoration:line-through ;
}


button{
    all: unset;
}

li{
    all: unset;
}

img{
    height: 3vh;
}