.form{
    height: 5vh;
    width: 70rem;
    border: 2px solid hsl(346, 84%, 61%);
    border-radius: 5px;
    font-size: 16px;
    background-color: #073B4C;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
}
form{
    all:unset;
}
.form-input {
    all: unset;
    text-align: left;
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #073B4C;
    color: #fff;
    font-size: 16px;
}

.form-button{
    padding: 10px 20px;
    border: none;
    background-color: #EF476F;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    font-family: 'Koulen', sans-serif;
    width: 30vh;
    
}
